
sites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#dirs
boost/
java/

# emeralddb configs
src/.deps/
/autom4te.cache/
src/aclocal.m4
src/*.log
src/config*
src/Makefile
src/Makefile.in
src/stamp-h1